@import "tailwindcss";


ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

html {
  height: 100vh;
}

body {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 150vh;
}

main {
  position: relative;
}
