@import "tailwindcss";

html {
  height: 100vh;
}

body {
  margin: 0;
  height: 100%;
}

#root {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#root::before {
  content: "";
  position: fixed;
  height: 100vh;
  width: 100%;
  background-image: url("/src/assets/background.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -2;
  background-color: #a4facf;
}

#root::after {
  content: "";
  position: fixed;
  width: 100%;
  height: 30%;
  bottom: 0;
  left: 0;
  background-image: url("/src/assets/gazon.webp");
  background-repeat: repeat-x;
  background-position: top;
  background-size: contain;
  z-index: -2;
}

main {
  position: relative;
}

.shadow-nav {
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}
